

:root {
  --ff-primary: 'Alkalami', serif;
  --ff-secondary: 'Poppins', sans-serif;

  --fw-reg: 400;
  --fw-bold: 900;

  --fs-h1: 4.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1.25rem;

  --clr-light: #f1e3d3;
  --clr-dark: #84a59d;
  --clr-accent: #ffbf69;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

.navBar {
  padding: 1.25rem;
  font-size: var(--fs-h3);
  height: 30%;
}

.logo {
  color: var(--clr-dark);
  font-size: var(--fs-h2);
  font-family: 'Peralta', cursive;
  font-weight: var(--fw-bold);
}


/* home page */
.carousel {
  width: 100%;
  /* height: 70%; */
  justify-content: center;
  margin-top: 0;


}

.carousel .carousel-section img{
  object-fit: cover;
  object-position: center;
  height: 90vh;
  overflow: hidden;
}


/* find your exercise page */
.search-container{
  background-color: var(--clr-light);
}

h3 {
  padding-top: 1.5rem;
  text-align: center;
  vertical-align: middle;
  
}



.dropdown-container {
  width: 75%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  border: 2px solid var(--clr-dark);
  border-radius: 5px;
  padding: 0.5rem;
}

.muscleImage {
  object-fit: contain;
  object-position: center;
  height: 40vh;
  overflow:visible;
  max-width: 100%;
}


.displayExercise-container {
  background: var(--clr-dark);
  padding: 0.5rem;
 
}


.exercise-display-container {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  flex-wrap: wrap;
  border: 2px solid var(--clr-light);
  border-radius: 5px;

}
.exercise-display-container2 {
  display: flexbox;
  justify-content: center;
  margin: 1.5rem;
  flex-wrap: wrap;
  border: 2px solid var(--clr-light);
  border-radius: 5px;

}

.title-color-style{
  color: var(--clr-light);
}

.gif-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-gif {
  object-fit: cover;
  object-position: center;
  height: 30vh;
  overflow: hidden;

}

/* modal page */

.detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.detail-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.detail-list {
  margin: 1.75rem;
  border: solid var(--clr-dark) .5rem;
  border-radius: 5%;
}

.buttonStyle {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
  margin: .5rem;
  border-color: var(--clr-light);
  border-radius: 5%;
  cursor: pointer;
  padding: .5rem;
  width: 8rem;
}


/* my list page */
.myList-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);

}

